node_modules/
android/app/build/
ios/build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.expo
/.expo-shared
/.bundle
/build/
.env
ios/.xcode.env
.idea/
.vscode/
coverage/
*.lcov
.DS_Store
.android/
android/.gradle/
*.iml
*.hprof
*.lock
android/app/debug.keystore