# Dependencies
node_modules/

# Build outputs
dist/
web-build/
*.orig.*


# Android
android/.gradle/
android/.idea/
android/.kotlin/
android/app/build/
android/build/
android/local.properties
android/app/.cxx/
android/app/.externalNativeBuild/
android/app/intermediates/
android/app/outputs/
android/app/.vs/
android/app/src/androidTest/
android/app/src/test/
android/app/google-services.json

# iOS
ios/
ios/Pods/
ios/.DS_Store
ios/build/

# Native credentials
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug files
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo